.content {
    margin-left: 200px;
    width: calc(100vw - 200px);
    height: 100vh;
    background: var(--black);
    color: var(--white);
}

#Dropdown {
    display: none;
}

@media (width < 480px) { 
    .content {
        margin-left: 80px;
        width: calc(100vw - 80px);
    }
}