@import './sidebar.css';
@import './content.css';
@import './dropdown.css';

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
    font-family: 'Readex Pro', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: var(--gray-light); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--gray-dark); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark); 
}

input:hover, input:active, input:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

:root {

    /* Colors */
    --white: #FFFFFF;
    --black: #1a1a1a;
    --gray-light: #f1f1f1;
    --gray-dark: #c8c8c8;

    /* Font Size */
    --xs: 0.8rem;
    --sm: 1rem;
    --md: 1.2rem;
    --lg: 1.4rem;
    --xl: 1.6rem;
}